.tft-welcome-banner {
    background-color: lightgrey;
    height: 60px;
}
.tft-search-container {
    padding:10px;
    background-color:#f8f8f8;
    border:red solid 1px;
    border-top:0px;
}
.tft-dropdown-container {
    height:200px;
    overflow:auto;
}
