<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN">
<html xml:lang="en" lang="en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery1.9.0.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.0.custom.min.js"></script>
<link href="{{ STATIC_URL }}css/tftarget_style_1.css" type="text/css" rel="stylesheet"/>
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet"/>
<link href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" type="text/css" rel="stylesheet"/>


<body>
{% block body %}
{% endblock %}
</body>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap-responsive.js"></script>
</html>
