{% extends "base.html" %}
{% load i18n uni_form_tags %}

{% block body %}
<link href="{{ STATIC_URL }}uni_form/uni-form.css" media="screen" type="text/css" rel="stylesheet" />
<link href="{{ STATIC_URL }}uni_form/blue.uni-form.css" media="screen" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>

Search
<br>
<br>
<form action="{% url search.views.search %}" method="post" class="uniForm">
    {% csrf_token %}
    {{ form|as_uni_form }}
    <div class="buttonHolder">
        <input type="submit" class="button" value="{% trans "Submit" %}" />
    </div>
</form>
{% endblock %}
