{% extends "base.html" %}
{% load i18n uni_form_tags %}
{% block body %}
<link href="{{ STATIC_URL }}uni_form/uni-form.css" media="screen" type="text/css" rel="stylesheet" />
<!-- <link href="{{ STATIC_URL }}uni_form/blue.uni-form.css" media="screen" type="text/css" rel="stylesheet" /> -->
<script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>

<!--this is the default navbar from Bootstrap I have put and added the OSU link.
Later on we have to decide if we want it fixed or not so far it is fixed.
-->
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Ohio State University</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
   <div class="hero-unit">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>
Search
<br>
<br>
<form id="search_form" class="uniForm">
    {% csrf_token %}
    {{ form|as_uni_form }}
    <div class="buttonHolder">
        <input id="search_button" type="button" class="button" value="{% trans "Search!" %}" />
    </div>
</form>

<div id="search_results">
</div>

    </div>

{% endblock %}
