{% extends "base.html" %}
{% block body %}
<script type="text/javascript" src="{{ STATIC_URL }}js/search.js"></script>
<link href="{{ STATIC_URL }}css/search.css" type="text/css" rel="stylesheet"/>
<div class="tab-pane " id="direct-targets">
  <div class="row offset1 tft-search-container">
  </div>
</div>
<div class="tab-pane " id="enrichment-analysis">
  <div class="row offset1 tft-search-container">
    <textarea rows="3"></textarea>
  </div>
</div>
<div class="tab-pane active" id="download-database">
  <div class="row offset1 tft-search-container">
    <p>Build your search below </p> 
    <br>
    <form id="tft-search-form" class="form-horizontal row">
      <label>Transcription Factor</label>
      <div class="controls">
        <div class="dropdown span2">
          <a data-target="#" class="btn dropdown-toggle " role="button" data-toggle="dropdown">
            Multiple Selection
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu tft-family-dropdown-menu ">
            <li>
              <div id="family-accordion" class ="accordion tft-dropdown-container">
              </div>
            </li>
            <a id="#tft-clo" class="tft-close btn">Close</a>
          </ul>
        </div> <!-- dropdown -->
      </div>
      {% csrf_token %}
      {{ form }}
    </form>
    <a id="tft-search-btn-1" class="btn btn-primary btn-medium">Search!</a>
  </div>
  <!--
      <div id="tft-search-preview" class="row span12">
        <button type="submit" id="#tft-submit-btn-2" class="btn">Search</button>
        <div id="tft-dialog-form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">[close]</button>
            <h3 id="tft-modal-label">Advanced Search</h3> <div id="family-container" class ="tft-dropdown-container">
            </div>
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <a id="tft-search-btn-1" class="btn btn-primary btn-medium">Search!</a>
          </div>
        </div>
      </div>
      -->
  <div id="search-results" class="row span12">
  </div>
</div>


{% endblock %}
